.px-10 {
  padding-left: calc((180/1440)*1140px);
  padding-right: calc((180/1440)*1140px);
}


.navbar {
  height: 60px;
}

.nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #808080;
  text-decoration: none;
}

.nav-link:hover {
  color: #808080;
}

#header-2-left {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

#btn {
  background: #F8992A;
  color: #fff;
  width: 114px;
  height: 34px;
  border: 0;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

#body-1 {
  background-color: #F6F7F8;
}

#title-1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F8992A;
}

#title-2 {
  font-family: Inter;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  word-wrap: break-word;
}

#content-1 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #656565;
}

#content-2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #474747;
}

#content-3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #474747;
}

#bussiness-card {
  background: #FFFFFF;
  border-radius: 4px;
}

#title-3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  color: #474747;
}

#title-4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #222222;
}

#content-4 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #656565;
}

#nav-tab {
  width: 352px;
  height: 60px;
  background: #F6F7F8;
  border-radius: 4px;
}

.tab-item {
  background-color: #F6F7F8;
  width: 168px;
  height: 44px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

#tab-mission {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: #EF3E42;
}

#mission,
#history {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #515151;
} 

#title-team {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #EF3E42;
}

#title-5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #222222;
}

#content-5 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #606060;
}

.card-img-top{
  width: 96px;
  object-fit: cover;
}

.name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #494949;
}

.pos {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #EF3E42;
}

.des {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #717171;
}

#team >.col-sm-4{
  max-width: 30%;
}

#footer-top > .col-sm-2 {
  max-width: 21.666667%
}

#copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #818181;
}

#footer-2 h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #818181;
}

.ft ul {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #818181;
  justify-content: center;
  list-style: none
}

.btn-call {
  position: relative;
  width: 74px;
  height: 40px;
  bottom: 15px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
  border: none;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;

  color: #818181;
}

.text-muted:hover {
  text-decoration: none;
}

.mt-3, .my-3 {
  margin-top: 2rem!important;
}

.flag-icon {
  border-radius: 2px;
  margin-right: 10px;
}

.fab {
  color: #818181;
}

.list-inline-item > a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #818181;
}
